.App {
	text-align: center;
}

.product-list {
	margin: auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(300px);
	gap: 10px;
	text-align: center;
}

.product-div {
	display: grid;
	height: 400px;
	padding: 5%;
	border-radius: 20px;
	align-items: center;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
		rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.product-div img {
	width: 60%;
}
.show-btn {
	margin-top: 50px;
	margin-bottom: 50px;
}
